<div class="box-wrapper">
  <div class="box">
    <div class="box-inner">
      <h2>ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="box-field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
          <i class="fa fa-envelope"></i>
        </div>

        <div class="box-field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード"%>
          <i class="fa fa-lock"> </i>
        </div>

        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="forget-field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "次回以降自動でログイン" %>
          </div>
        <% end %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
