<main>
  <div class="top-wrapper">
    <div class="menu-content">
      <div class="logo-menu">
        <img src="" alt=""> <%# ロゴ %>
        <p>StudyBase</p>
      </div>
      <div class="profile-common-wrapper">
        <% if user_signed_in? %>
          <% if @user.profile.image.attached? %>
            <div class="image-wrapper">
              <%= image_tag @user.profile.image.variant(resize:'100x100').processed, class: 'profile-image' %>
            </div>
          <% else %>
            <div class="image-wrapper">
              <i class="fa fa-user"></i>
            </div>
          <% end %>
          <div class="profile-setting">
            <div>
              ユーザー名：<%= link_to(@user.profile.name,"") %>
            </div>
            <%= link_to 'プロフィールを編集', edit_profile_path(@user.id) %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </div>
          <ul class="menu-list">
            <li class="common-menu">
              <i class="fa fa-caret-right list-icon"></i>
              <%= link_to 'トップ画面へ',"/posts", {class: "block"} %>
            </li>
            <li class="common-menu">
              <i class="fa fa-caret-right list-icon"></i>
              <%= link_to '勉強する',"/studies/#{@user.id}", {class: "block"} %>
            </li>
            <li class="common-menu">
              <i class="fa fa-caret-right list-icon"></i>
              <%= link_to 'プロフィール画面へ', "/profiles/#{@user.profile.id}", {class: 'block', id: @user.profile.id} %>
            </li>
            <li class="common-menu">
              <i class="fa fa-caret-right list-icon"></i>
              <%= link_to '投稿する',"/posts/new", {class: "block"} %>
            </li>
          </ul>
        <% else %>
          <div class="guest">
            <div class="image-wrapper">
              <i class="fa fa-user"></i>
            </div>
            <p>現在ログインしていません</p>
            <div class="btn-padding login">
              <%= link_to 'ログイン', new_user_session_path , {class: "btn"} %>
            </div>
            <div class="btn-padding registration">
              <%= link_to '新規登録はこちら', new_user_registration_path, {class: "regist"} %>
            </div>
          </div>
          <ul class="menu-list">
            <li class="common-menu">
              <%= link_to '勉強する', "/studies", {class: "block"} %>
            </li>
            <li class="common-menu">
              <%= link_to 'プロフィール', "/profiles", {class: "block"} %>
            </li>
            <li class="common-menu">
              <%= link_to '投稿する',"/posts/new", {class: "block"} %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="post-content">
      <div class="post-wrapper">
        <h1 class="post-title">みんなの勉強記録</h1>
        <% @post.each do |post|%>
          <div class="content-wrapper">
            <div class="profile-wrapper">
              <% if post.user.profile.image.attached? %>
                <%= image_tag post.user.profile.image.variant(resize:'100x100'), class:'profile-image' %>
              <% else %>
                <div class="image-profile-wrapper">
                  <i class="fa fa-user"></i>
                </div>
              <% end %>
              <div class="profile-name">
                <%= post.user.profile.name %>
              </div>
            </div>
            <div class="content-text-wrapper">
              <a href="/posts/<%=post.id%>" class="content-text"><%= post.content %></a>
            </div>
          </div>
        <% end %>
        <%= paginate @post %>
      </div>
    </div>
  </div>
</main>

